* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.components-wrapper-lp {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(52, 52, 52, 1) 100%);
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  overflow: hidden;
  /* Fixes the white bars at the bottom */
  grid-template-columns: 288px 1fr;
  grid-template-rows: 90px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-navbar {
  grid-area: 1 / 1 / 2 / 6;
}

.grid-sidebar {
  grid-area: 2 / 1 / 6 / 2;
  background-color: #212121;
}

.grid-content {
  grid-area: 2 / 2 / 6 / 6;
  background: linear-gradient(0deg, rgba(52, 52, 52, 1) 0%, #212121 100%);
}

.scrollable {
  overflow-y: scroll;
   height: 100vh; /*ili visina koja vam odgovara */
}

@media (max-width: 800px) {
  .grid-sidebar {
    display: none;
  }

  .grid-content {
    grid-area: 2 / 1 / 6 / 6;
  }

  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  /*Amar Test*/
}